/* Mobile First */
body {
  background-color: #507786;
  /*507786 507786*/
  /*background-color: #4a525a;*/
  max-width: 100%;
  font-family: "Lucida Grande";
  font-size: 16px;
}
#main {
	background-color: #507786;
  color: #eee;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-rows: 150px 1fr 1fr;
}
#logo {
  margin-top: 30px;
  margin-bottom: 15px;
  grid-column: 2/span 3;
  grid-row: 1;
  text-align: center;
}
#logo img {
	/*width: 240px;*/
}
.site-title, .subtitle {
  font-family: Copperplate;
}
.subtitle {
  font-weight: lighter;
  letter-spacing: 0.02em;
}
h2 {
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: lighter;
  letter-spacing: 0.2em;
}
.projects, .bio {
  display: none;
  margin-right: 15px;
}
.projects section {
  padding-top: 8px;
  padding-bottom: 2px;
  margin-bottom: 8px;
  text-align: center;
}
.projects section a p, .bio p {
  font-size: .8em;
}
.bio p {
  line-height: 20px;
}
.links ul li a, .projects section a {
  text-decoration: none;
  color: #eee;
}
#articles {
  grid-column: 2/span 3;
  grid-row: 2/span 2;
  margin-left: 10px;
}
.blurb {
  padding-right: 4%;
}
article {
  padding-left: 5%;
  line-height: 20px;
  font-family: Verdana, sans-serif;
  font-size: 0.7em;
}
article div {
  margin-bottom: 10px;
}
.title a {
	font-family: GillSans;
	font-size: 1.3em;
	letter-spacing: 1.2px;
	color: #ccc;
  margin-left: -10px;
}
.title a:hover {
	color: #eee;
	text-decoration: none;
  background-color: #405f6b;
}
.permalink {
  text-decoration: none;
}
blockquote {
  margin-left: 0;
  color: #ddd;
  border-left: 1px solid #aaa;
  padding-left: 10px;
}
.links {
  display: none;
  padding-left: 50px;
}
.links ul {
  list-style-type: none;
  line-height: 1.5;
  /*line-height: 35px;*/
}
.links ul li a {
  padding-left: 3px;
}
/*.links ul li a:visited {
  color: #eee;
}*/
.links ul li a:hover {
  color: #fff;
  background-color: #405f6b;
  padding-left: 3px;
}
.cr {
  grid-column: 2/span 3;
  margin-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-size: .6em;
}

/* Med Screen */
@media (min-width: 768px) {


}
/* Lrg Screen */
@media (min-width: 1024px) {

  #logo {
    left: 23%;
    top: 60px;
  }
  .projects, .bio {
    display: unset;
    grid-column: 2/span 1;
  }
  .projects {
    grid-row: 2;
  }
  .bio {
    grid-row: 3;
  }
  .projects img {
    border: 2px solid #ccc;
  }
  #articles {
    grid-column: 3/span 1
  }
  .links{
    display: unset;
    grid-column: 4/span 1;
  }
}