body {
  font-family: 'Gills Sans', sans-serif;

}
#wrapper {
  display: grid;
  grid-template-columns: 5px 2fr 3fr 2fr 5px;
}
.title, h3 {
  text-align: center;
}
h3{
  font-size: .8em;
  font-variant: small-caps;
}
#main {
  grid-column: 2/span 3;
}
.italics {
  font-style: italic;
}
article {
  text-align: justify;
}
code {
  display: block;
  background-color: black;
  color: white;
}
@media (min-width: 768px) {
  #main {
    grid-column: 3/span 1;
  }

}