body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #eee;
  background-color: #888;
}
#wrapper {
  display: grid;
  grid-template-columns: 5px 2fr 3fr 2fr 5px;
}
.title, h3, h4 {
  color: #dd0;
  text-align: center;
}
h3, .author {
  color: #eb0;
}
h3 {
  margin-top: 3px;
}
h4{
  color: #ddd;
  font-size: .8em;
  font-variant: small-caps;
}
/*.author {
  
}*/
#main {
  grid-column: 2/span 3;
}
p {
  font-size: 0.9em;
}
a {
  text-decoration: none;
  color: #444;
}
a:visited {
  color: #444;
}
ul {
  font-size: 0.9em;
  list-style-type: square;
}
.italics {
  font-style: italic;
}
article {
  text-indent: 1em;
  text-align: justify;
}
code {
  font-size: 0.75em;
}
pre {
  max-width: 100%;
  overflow: auto;
}
blockquote {
  border: 1px solid #333;
  background-color: #555;
  color: #ccc;
  padding: 6px;
}
@media (min-width: 768px) {
  #main {
    grid-column: 3/span 1;
  }
  code {
    white-space: pre-wrap;
  }
}